{% extends "template.twig.html" %}
{% block css %}
<head>
<title>About Us
</title>
</head>
{% endblock %}
{% block content %}
<div class="orange-bck">
  <div class="container">
    <div class="row">
      <div class="col-centered"> <br>
        <h2 class="card-text"> About Us</h2>
      </div>
    </div>
  </div>
	 <!--New Row and column to place text-->
           
            <div class="row">
                <div class="text-center">
                  <br>
                    <h1 class="About-Text">G28 prides itself in delivering the best qaulity groceries and household essentials. For over 20 years we have been happily at our customers servivce, willing to provide all the best service possbile.

</h1>

                    <br>
                </div>
              <div class="col-lg-6">
   		          <br>
   		 </div>
</div>
{% endblock %}